<app-reusable-input-form title="{{this.productId == null ? 'Add Product' : 'Update Product #' + productId}}"
    backButton="true">
    <ng-container class="body">
        <form [formGroup]="productForm" autocomplete="off">
            <h6 class="heading-small text-muted mb-4">Product information</h6>
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group focused">
                            <label class="form-control-label" for="input-username">Product Name</label>
                            <input type="text" id="input-username" class="form-control form-control-alternative"
                                placeholder="Name" formControlName="name" value="">
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group focused">
                            <label>Product Description</label>
                            <textarea rows="4" class="form-control form-control-alternative"
                                formControlName="description" placeholder="Description"></textarea>
                        </div>
                    </div>

                </div>

            </div>
            <hr class="my-4">
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Display Picture</h6>
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group focused">
                            <app-image-upload #displayPicture [imgURL]="productForm.value.displayPicture">
                            </app-image-upload>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Pictures</h6>
            <div class="pl-lg-4">
                <div class="form-group focused">
                    <app-multiple-image-upload #pictures [images]="productForm.value.pictures">
                    </app-multiple-image-upload>
                </div>
            </div>

            <hr class="my-4">


            <app-save-button (onSubmit)="submit()" [isLoading]="isLoading">

            </app-save-button>
        </form>
    </ng-container>
</app-reusable-input-form>