<div class="header bg-gradient-primary pb-8 pt-6 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>

<div class="container-fluid mt--7" style="min-height: 11vh;">
    <router-outlet></router-outlet>
</div>


<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-12">
            <div class="copyright text-center">
                &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1"
                    target="_blank">Wajhat</a>
            </div>
        </div>
    </div>
</footer>