.multi-image-preview {
  margin: 20px 0 0 0;
  padding: 10px 10px;
  border-style: dotted;
  border-color: #80808045;
}

.img-preview {
  padding: 5px;
}

.img-wrapper {
  position: relative;
  display: inline-block;
}
.close:before {
  content: "✕";
}
.close {
  position: absolute;
  top: -7px;
  padding: 8px;
  font-size: unset;
  border-radius: 50px;
  background-color: red;
  color: white;
  right: 0;
}
