<app-reusable-input-form
  title="{{ this.modeID == null ? 'Add Mode' : 'Update Mode #' + modeID }}"
  backButton="true"
>
  <ng-container class="body">
    <form [formGroup]="modeForm" autocomplete="off">
      <h6 class="heading-small text-muted mb-4">Mode information</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group focused">
              <label class="form-control-label" for="input-username"
                >Mode</label
              >
              <input
                type="text"
                id="input-username"
                class="form-control form-control-alternative"
                placeholder="Name"
                formControlName="name"
                value=""
              />
            </div>
            <div class="options">
              <div class="option">
                <label class="form-control-label" for="input-username"
                  >Canvas</label
                >
                <input
                  (change)="handleOpts('canvas', $event.target.checked)"
                  type="checkbox"
                  class="form-check-input"
                  id="canvas"
                />
              </div>

              <div class="option">
                <label class="form-control-label" for="input-username"
                  >user can change colors</label
                >
                <input
                  (change)="handleOpts('hasColors', $event.target.checked)"
                  type="checkbox"
                  class="form-check-input"
                  id="hasColors"
                />
              </div>

              <div class="option">
                <label class="form-control-label" for="input-username"
                  >user can scale image</label
                >
                <input
                  (change)="handleOpts('hasScale', $event.target.checked)"
                  type="checkbox"
                  class="form-check-input"
                  id="hasScale"
                />
              </div>

              <div class="option">
                <label class="form-control-label" for="input-username"
                  >user can apply patterns
                </label>
                <input
                  (change)="handleOpts('hasPattern', $event.target.checked)"
                  type="checkbox"
                  class="form-check-input"
                  id="hasPattern"
                />
              </div>

              <div class="option">
                <label class="form-control-label" for="input-username"
                  >user has center</label
                >
                <input
                  (change)="handleOpts('hasCenter', $event.target.checked)"
                  type="checkbox"
                  class="form-check-input"
                  id="hasCenter"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="my-4" />

      <app-save-button
        (onSubmit)="submit()"
        [isLoading]="isLoading"
      ></app-save-button>
    </form>
  </ng-container>
</app-reusable-input-form>
