.dropdown-menu,
.dropdown,
.dropdown-toggle {
  width: 100%;
}
.dropdown-menu {
  padding: 1em;
}
.preview {
  height: 100%;
  width: auto;
}
.img-holder {
  height: 80px;
  &:hover {
    cursor: pointer;
  }
}
#center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
