.no-data-table {
  text-align: center;
  padding: 20px 0;
}

.add-button {
  margin: 0;
  padding: 0 0 10px 0;
}

.table-loading {
  padding: 14vh;
  background-color: #f7f7f7;
}

th span {
  white-space: normal;
  word-break: break-all;
  display: block;
}
